---
import LanguageIcon from '../../assets/icons/LanguageIcon.astro';
---

<div class='flex items-center gap-2 bg-[#43CFF4]/10 backdrop-blur-sm border border-[#43CFF4]/20 text-[#DDF4FB] rounded-lg px-4 py-2'>
	<LanguageIcon class='w-[24px] h-[28px]' />
	<button
		id='es-button'
		class='font-bold p-2 ms-3 cursor-pointer hover:bg-[#43CFF4]/50 hover:rounded-md'
	>
		ES
	</button>
	<button
		id='en-button'
		class='font-bold p-2 cursor-pointer hover:bg-[#43CFF4]/50 hover:rounded-md'
	>
		EN
	</button>
</div>
<script>
	function handleLanguageToggle() {
		const spanishToggle = document.getElementById('es-button');
		const englishToggle = document.getElementById('en-button');

		function updateActiveStyles() {
			const currentPath = window.location.pathname;
			const isSpanish = currentPath.startsWith('/es') || (!currentPath.startsWith('/en') && !currentPath.startsWith('/es'));
			const isEnglish = currentPath.startsWith('/en');

			spanishToggle?.classList.remove('bg-[#43CFF4]/20', 'rounded-md');
			englishToggle?.classList.remove('bg-[#43CFF4]/20', 'rounded-md');

			if (isSpanish) {
				spanishToggle?.classList.add('bg-[#43CFF4]/20', 'rounded-md');
			} else if (isEnglish) {
				englishToggle?.classList.add('bg-[#43CFF4]/20', 'rounded-md');
			}
		}
		updateActiveStyles();
		spanishToggle?.addEventListener('click', () => {
			const currentPath = window.location.pathname;
			let newPath = '/es' + currentPath.substring(3);
			if (currentPath.startsWith('/en')) {
				window.location.href = newPath;
			}
		});
		englishToggle?.addEventListener('click', () => {
			const currentPath = window.location.pathname;
			let newPath = '/en' + currentPath.substring(3);
			if (currentPath.startsWith('/es')) {
				window.location.href = newPath;
			}
		});
	}
	document.addEventListener('DOMContentLoaded', () => {
		handleLanguageToggle();
	});
</script>
