<button
	id='scrollToTopBtn'
	class="fixed bottom-[6.5rem] right-[0.5rem] sm:bottom-[1.5rem] sm:right-[1.5rem] z-50 shadow-[0px_0px_18px_0px_#43CFF4] cursor-pointer after:content-['Scroll_to_top'] after:font-bold after:text-[#43CFF4] after:absolute after:text-nowrap after:scale-0 hover:after:scale-100 after:duration-200 w-16 h-16 rounded-full border border-2 border-[#43CFF4] bg-black pointer flex items-center justify-center hover:rounded-[50px] hover:w-36 group/button overflow-hidden active:scale-90 opacity-0 invisible transition-all duration-300"
>
	<svg
		class='w-5 fill-[#43CFF4] delay-50 duration-200 group-hover/button:-translate-y-12'
		viewBox='0 0 384 512'
	>
		<path
			d='M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z'
		></path>
	</svg>
</button>

<script>
	const scrollToTopBtn = document.getElementById('scrollToTopBtn');

	window.addEventListener('scroll', () => {
		if (window.scrollY > 300) {
			scrollToTopBtn?.classList.remove('opacity-0', 'invisible');
			scrollToTopBtn?.classList.add('opacity-100', 'visible');
		} else {
			scrollToTopBtn?.classList.add('opacity-0', 'invisible');
			scrollToTopBtn?.classList.remove('opacity-100', 'visible');
		}
	});

	scrollToTopBtn?.addEventListener('click', () => {
		window.scrollTo({
			top: 0,
			behavior: 'smooth',
		});
	});
</script>
