
@import "tailwindcss";
:root{
    color-scheme: light dark;
}
html {
    scroll-behavior: smooth;
    font-family: 'Onest Variable', sans-serif;
}
body {
    background: #121427;
    min-height: 100vh;
}
.blue-text {
    color: #43CFF4;
}