---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<div
			class='bg-cover bg-[url(src/assets/img/headermobile.webp)] sm:bg-[url(src/assets/img/header.webp)] flex flex-col justify-center items-center h-[100dvh] font-bold text-[23px] sm:text-[48px] text-center'
		>
			<div class='absolute header__filter top-0 left-0 w-full h-full flex flex-col items-center justify-center z-10 bg-[rgba(8,9,17,0.89)]'>
				<h1 class='text-wrap'>Cristian Montoya <span class='blue-text'>Front-end</span></h1>
				<h2>web developer</h2>
			</div>
		</div>
	</main>
</Layout>
