---
import Experience from './../UI/organisms/Experience.astro';
import Layout from './../UI/layouts/Layout.astro';
import About from './../UI/organisms/About.astro';
import HeaderBanner from './../UI/molecules/HeaderBanner.astro';
import Projects from '../UI/organisms/Projects.astro';
import Footer from '../UI/organisms/Footer.astro';
import Skills from '../UI/molecules/Skills.astro';
---

<Layout>
	<main>
		<HeaderBanner />
		<Experience />
		<Skills />
		<About />
		<Projects />
		<Footer />
	</main>
</Layout>
