---
import Experience from './../UI/organisms/Experience.astro';
import Layout from './../UI/layouts/Layout.astro';
import About from './../UI/organisms/About.astro';
import HeaderBanner from './../UI/molecules/HeaderBanner.astro';
---

<Layout>
	<main id='home'>
		<HeaderBanner />
		<Experience />
		<About />
	</main>
</Layout>
