---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<div class='flex flex-col justify-center items-center h-[100dvh] font-bold'>
			<h1 class='text-[21px]'>Cristian Montoya <span class='blue-text'>Front-end</span></h1>
			<h2 class='text-[21px]'>web developer</h2>
		</div>
	</main>
</Layout>
