---
import { Image } from 'astro:assets';
import logo from '../assets/img/logo.svg';
---

<header class='flex justify-between items-center h-full p-[20px] px-[40px] font-bold'>
	<Image
		src={logo}
		alt='logo de Cristian Montoya'
		class='w-[69px] h-[69px]'
		loading='eager'
	/>
	<nav class='flex flex-row gap-x-[30px]'>
		<a
			href='/'
			class='text-[32px] blue-text'
			>Home</a
		>
		<a
			href='/experience'
			class='text-[32px] blue-text'
			>Experience</a
		>
		<a
			href='/about-me'
			class='text-[32px] blue-text'
			>About me</a
		>
		<a
			href='/projects'
			class='text-[32px] blue-text'
			>Projects</a
		>
	</nav>
</header>
