<header class='flex justify-between'>
	<img
		src='/logo.png'
		alt='logo de Cristian Montoya'
		class='w-10 h-10'
	/>
	<nav>
		<a href='/'>Home</a>
		<a href='/experience'>Experience</a>
		<a href='/about-me'>About me</a>
		<a href='/projects'>Projects</a>
	</nav>
</header>
