---
import { Image } from 'astro:assets';
import logo from '../assets/img/logo.svg';
import menu from '../assets/img/menu.svg';
---

<header class='flex justify-between items-center w-full pt-2 sm:p-[20px] sm:px-[40px] font-bold fixed top-0'>
	<Image
		src={logo}
		alt='logo de Cristian Montoya'
		class='w-[60px] h-[60px] sm:w-[69px] sm:h-[69px] ml-[10px]'
		loading='eager'
		draggable='false'
	/>
	<nav class='flex flex-row gap-x-[30px] text-[32px]'>
		<Image
			src={menu}
			alt='icono menu'
			class='w-[48px] h-[48px] sm:hidden mr-[10px]'
			loading='eager'
			draggable='false'
		/>
		<!-- <a
			href='/'
			class='blue-text'
			>Home</a
		>
		<a
			href='/experience'
			class='blue-text'
			>Experience</a
		>
		<a
			href='/about-me'
			class='blue-text'
			>About me</a
		>
		<a
			href='/projects'
			class='blue-text'
			>Projects</a
		> -->
	</nav>
</header>
