---
import { Image } from 'astro:assets';
import logo from '../assets/img/logo.svg';
---

<header class='flex justify-between'>
	<Image
		src={logo}
		alt='logo de Cristian Montoya'
		class='w-12 h-12'
		width={48}
		height={48}
		loading='eager'
	/>
	<nav>
		<a
			href='/'
			class='text-[#43CFF4]'
			>Home</a
		>
		<a
			href='/experience'
			class='text-[#43CFF4]'
			>Experience</a
		>
		<a
			href='/about-me'
			class='text-[#43CFF4]'
			>About me</a
		>
		<a
			href='/projects'
			class='text-[#43CFF4]'
			>Projects</a
		>
	</nav>
</header>
