---
import { Image } from 'astro:assets';
import logo from '../../assets/img/logo.svg';
import menu from '../../assets/img/menu.svg';
---

<header
	id='header'
	class='flex justify-between items-center w-full pt-2 sm:p-[20px] sm:px-[40px] font-bold fixed top-0 z-20 transition-transform duration-300'
>
	<Image
		src={logo}
		alt='logo de Cristian Montoya'
		class='w-[60px] h-[60px] sm:w-[69px] sm:h-[69px] ml-[10px]'
		loading='eager'
		draggable='false'
	/>
	<nav id='nav'>
		<Image
			src={menu}
			alt='icono menu'
			class='w-[48px] h-[48px] sm:hidden mr-[10px]'
			loading='eager'
			draggable='false'
		/>
		<div class='flex-row lg:gap-x-[30px] gap-x-[0px] lg:text-[30px] text-[20px] hidden sm:flex'>
			<a
				href='#home'
				class='nav-link blue-text rounded-full px-5 hover:bg-[#121427]/50 hover:shadow-[0px_0px_18px_0px_#43CFF4]'
				>Home</a
			>
			<a
				href='#experience'
				class='nav-link blue-text rounded-full px-5 hover:bg-[#121427]/50 hover:shadow-[0px_0px_18px_0px_#43CFF4]'
				>Experience</a
			>
			<a
				href='#about-me'
				class='nav-link blue-text rounded-full px-5 hover:bg-[#121427]/50 hover:shadow-[0px_0px_18px_0px_#43CFF4]'
				>About me</a
			>
			<a
				href='#projects'
				class='nav-link blue-text rounded-full px-5 hover:bg-[#121427]/50 hover:shadow-[0px_0px_18px_0px_#43CFF4]'
				>Projects</a
			>
		</div>
	</nav>
</header>

<script>
	function handleHeaderScroll() {
		let lastScrollTop = 0;
		const header = document.getElementById('header');

		return () => {
			const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

			if (scrollTop <= 100) {
				header?.classList.remove('-translate-y-full');
				header?.classList.remove('backdrop-blur-md', 'shadow-lg');
				return;
			}

			header?.classList.add('backdrop-blur-md', 'shadow-lg');

			if (scrollTop > lastScrollTop) {
				header?.classList.add('-translate-y-full');
			} else {
				header?.classList.remove('-translate-y-full');
			}

			lastScrollTop = scrollTop;
		};
	}

	function handleNavSelection() {
		const navLinks = document.querySelectorAll('.nav-link');
		const sections = document.querySelectorAll('section[id]');
		navLinks.forEach((link) => {
			link.addEventListener('click', function (this: HTMLElement, e: Event) {
				navLinks.forEach((l) => {
					l.classList.remove('bg-[#121427]/50', 'shadow-[0px_0px_18px_0px_#43CFF4]');
				});
				this.classList.add('bg-[#121427]/50', 'shadow-[0px_0px_18px_0px_#43CFF4]');
			});
		});
		const observer = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					const id = entry.target.getAttribute('id');
					const navLink = document.querySelector(`nav a[href="#${id}"]`);

					if (entry.isIntersecting) {
						navLinks.forEach((link) => link.classList.remove('bg-[#121427]/50', 'shadow-[0px_0px_18px_0px_#43CFF4]'));
						if (navLink) navLink.classList.add('bg-[#121427]/50', 'shadow-[0px_0px_18px_0px_#43CFF4]');
					}
				});
			},
			{
				rootMargin: '0px 0px -70% 0px', // Activa cuando la sección ocupa el 30% superior del viewport
				threshold: 0.2,
			}
		);
		sections.forEach((section) => {
			observer.observe(section);
		});
	}

	window.addEventListener('scroll', handleHeaderScroll());
	document.addEventListener('DOMContentLoaded', handleNavSelection);
</script>
