---
import CssIcon from '../../assets/icons/CssIcon.astro';
import ReactIcon from '../../assets/icons/ReactIcon.astro';

const { bgImage, title } = Astro.props;
---

<div class={`bg-cover ${bgImage} w-[460px] h-[320px] rounded-lg border-2 border-[#3A556E] flex flex-col items-center pt-4`}>
	<h3 class='text-[#43CFF4] text-[20px] bg-[#121427] px-[35px] py-1 rounded-full border-1 border-[#3A556E]'>{title}</h3>
	<div class='w-[126px] bg-[#3DB8DA] text-[#121427] font-bold rounded-lg px-4 py-1 mt-4 flex items-center justify-center gap-2'>
		<ReactIcon class='w-6 h-6' />
		<p>React js</p>
	</div>
	<div class='w-[126px] bg-[#3DB8DA] text-[#121427] font-bold rounded-lg px-4 py-1 mt-4 flex items-center justify-center gap-2'>
		<CssIcon class='w-6 h-6' />
		<p>Css</p>
	</div>
</div>
