---
import DownloadIcon from '../../assets/icons/DownloadIcon.astro';
import Button from '../atoms/Button.astro';
import Timeline from '../molecules/Timeline.astro';
---

<section
	id='experience'
	class='w-100vw flex flex-col items-center justify-center pt-[60px] md:pt-[120px]'
>
	<h2 class='blue-text sm:text-[45px] text-[36px] font-bold'>Experience</h2>
	<div class='flex flex-col items-center mt-8 gap-[70px]'>
		<Button
			text='Download cv'
			icon={DownloadIcon}
			iconClass='font-bold w-[18px] h-[18px]'
			isNeon={true}
		/>
		<Timeline />
	</div>
</section>
