---
import DownloadIcon from '../../assets/icons/DownloadIcon.astro';
import Button from '../atoms/Button.astro';
import Timeline from '../molecules/Timeline.astro';
---

<section
	id='experience'
	class='w-100vw flex flex-col items-center justify-center mt-[38px]'
>
	<h2 class='blue-text sm:text-[45px] text-[36px] font-bold mb-[20px]'>Experience</h2>

	<Button
		text='Download cv'
		icon={DownloadIcon}
		iconClass='font-bold w-[18px] h-[18px]'
		isNeon={true}
	/>
	<Timeline />
</section>
