---
import { Image } from 'astro:assets';
import logoFooter from '../../assets/img/logoFooter.svg';
---

<footer>
	<div class='flex items-center justify-center gap-8'>
		<div class='bg-[#87E6FF]/20 w-[40%] h-[5px]'></div>
		<Image
			src={logoFooter}
			alt='logo de Cristian Montoya'
			class='w-[60px] h-[60px] sm:w-[70px] sm:h-[70px]'
			loading='eager'
			draggable='false'
		/>
		<div class='bg-[#87E6FF]/20 w-[40%] h-[5px]'></div>
	</div>
	<h3>Cristian Montoya 2025.</h3>
	<h3>Build with Astro</h3>
</footer>
