---
import ProjectCard from '../molecules/Project-card.astro';
import laEconomiaImg from '../../assets/img/laEconomiaShot.webp';
import rickAndMortyApi from '../../assets/img/randm.webp';
---

<section
	id='projects'
	class='w-100vw flex flex-col items-center justify-center mt-[60px] md:mt-[120px]'
>
	<h2 class='blue-text sm:text-[45px] text-[36px] font-bold'>Projects</h2>
	<div class='flex flex-col lg:flex-row gap-2 p-2'>
		<ProjectCard
			bgImage={laEconomiaImg}
			altImg='Imagen de app la economia'
			title='Minifruver la economía'
			description='E commerce to buy fruits and vegetables from the store minifruver la economia, connect with the whatsapp api to send a message with the order.'
			technologies={[
				{ icon: 'ReactIcon', text: 'React js' },
				{ icon: 'CssIcon', text: 'Css' },
			]}
		/>
		<ProjectCard
			bgImage={rickAndMortyApi}
			altImg='Imagen de app api Rick y Morty'
			title='Api Rick and Morty'
			description='App to list the characters of Rick and Morty consuming the rick and morty api.'
			technologies={[
				{ icon: 'ReactIcon', text: 'React js' },
				{ icon: 'CssIcon', text: 'Css' },
			]}
		/>
		<ProjectCard
			bgImage={laEconomiaImg}
			altImg='Imagen de app la economia'
			title='Minifruver la economía'
			technologies={[
				{ icon: 'ReactIcon', text: 'React js' },
				{ icon: 'CssIcon', text: 'Css' },
			]}
		/>
	</div>

	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</section>
