---
import ProjectCard from '../molecules/Project-card.astro';
---

<section
	id='projects'
	class='w-100vw flex flex-col items-center justify-center mt-[38px]'
>
	<h2 class='blue-text sm:text-[45px] text-[36px] font-bold'>Projects</h2>
	<ProjectCard />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</section>
