---
import ProjectCard from '../molecules/Project-card.astro';
import laEconomiaImg from '../../assets/img/laEconomiaShot.webp';
---

<section
	id='projects'
	class='w-100vw flex flex-col items-center justify-center mt-[60px] md:mt-[120px]'
>
	<h2 class='blue-text sm:text-[45px] text-[36px] font-bold'>Projects</h2>
	<ProjectCard
		bgImage={laEconomiaImg}
		altImg='Imagen de app la economia'
		title='Minifruver la economía'
		technologies={[
			{ icon: 'ReactIcon', text: 'React js' },
			{ icon: 'CssIcon', text: 'Css' },
		]}
	/>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</section>
